<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlConnection" providerName="System.Data.SqlClient" connectionString="Integrated Security=SSPI;Data Source=DESKTOP-AN19URB;Initial Catalog=Shop; Persist Security Info=True;TrustServerCertificate=Yes;"/>
  </connectionStrings>
  <appSettings>
    <add key="port" value="1666" />
    <add key="ip" value="0.0.0.0" />
  </appSettings>
</configuration>
